doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Password Reset
    link(href='css/styles.css', rel='stylesheet')
    script(src='font-awesome.min.js', crossorigin='anonymous')
  body.bg-primary
    nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
      a.navbar-brand.ps-3(href='') To Do App
    #layoutAuthentication
      #layoutAuthentication_content
        main
          .container
            .row.justify-content-center
              .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                  .card-header
                    h3.text-center.font-weight-light.my-4 Password Recovery
                  .card-body
                    .small.mb-3.text-muted Enter your email address and we will send you a link to reset your password.
                    form(action="/forgot-password?_csrf=" + csrftoken, method="POST")
                      .form-floating.mb-3
                        input#inputEmail.form-control(type='email', placeholder='name@example.com', name="email")
                        label(for='inputEmail') Email address
                      .d-flex.align-items-center.justify-content-between.mt-4.mb-0
                        a.small(href='/login') Return to login
                        button.btn.btn-primary(type='submit') Reset Password
                  .card-footer.text-center.py-3
                    .small
                      a(href='/signup') Need an account? Sign up!
      include ./layout/ads.pug
    include ./layout/footer.pug
    script(src='bootstrap.bundle.min.js', crossorigin='anonymous')
    script(src='js/scripts.js')